@import 'p5.css';
body {
	font-family: 'Open Sans', sans-serif;
	cursor: url('../favicon/defult2.png'), default;
	background-color:#F0F0F0 ;
}

::selection
{background:yellow; 
	color: black; 
} 


form {
	max-width: 500px;
	margin: 0 auto;
}

button {
	color: #777;
	background: rgb(255, 255, 255);
	padding: 4px 12px 4px 12px;
	border: solid #777 2px;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

button:hover {
	color: #000;
	border: solid #000 2px;
	text-decoration: none;
}

input, textarea {
	font-size: 0.8rem;
	border: 1px solid #ddd;
	background: #fff;
	padding: 0.5rem 0.7rem;
	margin: 5px 0;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

input:focus, textarea:focus {
	border-color: #777;
	outline: none;
}



.slide-top {
	/* 返回顶部滚动条	 */
	position: fixed;
	top: 80%;
	left: 90%;
}

.page-tittle {
	margin-bottom: 0.5rem;
}

.date {
	margin-bottom: 25px;
}

/* 文章背景黑色设定 */

.pgbg-black {
	background-color: black;
}

.pgbg-black .page-tittle {
	color: white;
	font-weight: 400;
}

.pgbg-black date {
	color: white;
	font-weight: 300;
}

.pgbg-black p {
	color: rgb(219, 219, 219);
}

.portfolio-content {
	width: 100vw;
	line-height: 2;
	color: #555;
	margin: 0 auto;
	display: block;
}

.portfolio-content img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.portfolio-content a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
}

.portfolio-content a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #555;
}

.page-icon {
	display: inline-block !important;
	width: 20px !important;
}

h1, h2, h3 {
	font-family: 'Crimson Text', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 20px;
}

.navbar {

	z-index: 4;
}
.siteLogo {
	position: fixed;
	left:30px;
	top:0;
	
	}

	.siteLogo img{
		max-height: 200px;
		min-height: 50px;
		height:10vh;
		width: auto;

	}

.wave {
	position: fixed;
	right: 30px;
	top: 3vh;
}

.nav-list {
	position: fixed;
	left: 30px;
	bottom: 40px;
}

.nav-list li {
	list-style: none;
}

.nav-text {
	color: black;
	font-size: 6.18vh;
	font-weight: 600;
}

.portfolio-a{
		width: 600px;
    height: 379px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-img {
	width: 100%;
	/* max-height: 250px; */
	/* height: 250px; */
	display: block;
	object-fit: cover;
	border-radius: 5px;

}

.project-img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* Image Hover Effect */

a {
	cursor: url('../favicon/pointer.png') 13 0, pointer;
}


.body-container{
	margin: 0;
	padding: 0;

}

.page-init{

	margin-top:25vh;
}
.row {
	/* border: dashed yellowgreen ; */
}

.col{
	border:salmon;
}

.posts-container{
	  position: absolute;
	  left: 15vw;
	  /* width:1230px; */
	  -webkit-transition-duration: .5s;
	  transition-duration: .5s;
}

.projects-each{
	/* border:red solid; */
	margin-bottom: 70px;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}


.project-item{
	max-height: 300px;
	border-radius: 5px;
    overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0,0.34);
	box-shadow: 0px 0px 10px rgba(0, 0, 0,0.34);
	transition: opacity 0.35s, transform 0.35s;

}

.project-item:hover {
	z-index:2;
		transform: scale(.95)  rotate(2deg) translate(-10vw,0);
				/* transition: transform 0.35s; */
		/* -webkit-transition-duration: .5s; */
		/* transition-duration: .5s; */

		-webkit-box-shadow:  6px 8px 0px rgb(255, 251, 18);
		box-shadow: 6px 8px 0px rgb(255, 251, 18);

	}



.works-container{
	/* min-width: 800px; */
	max-width: 1300px;
	position:absolute;
	left: 30vh;
	margin: 0;
	padding: 0;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;

}

.works-each{

	min-width: 380px;
	min-height: 220px;
padding-right:70px;
margin-bottom: 70px;

/* border:solid red; */

}


.work-item{


    border-radius: 5px;
    overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0,0.34);
	box-shadow: 0px 0px 10px rgba(0, 0, 0,0.34);
	transition: opacity 0.35s, transform 0.35s;

} 

.work-item:hover {
z-index:3;
	transform: scale(1.1)  rotate(6.18deg) ;
	transition: transform 0.35s;
	-webkit-box-shadow:  6px 8px 0px rgb(255, 251, 18);
	box-shadow: 6px 8px 0px rgb(255, 251, 18);
}


.hovereffect {
	
		float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.hovereffect .overlay-text {
	font-size: 1.3rem;
	/* font-family: 'Crimson Text', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #000;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.overlay-title {
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.hovereffect:hover .overlay-text {
	opacity: 1;
	filter: alpha(opacity=100);
	
	
}

.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;


}
/* 
.hovereffect:hover img {
	opacity: 0.1;
	filter: alpha(opacity=10);

} */

.page-nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.page-nav a, span {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 0 10px;
	color: rgb(80, 80, 80);
}